@page "/Link"
@using BlazorBootstrap;

<PageTitle>Link</PageTitle>

<div class="p-3 bg-white fade">
    <Card Color="CardColor.Secondary" Class="mb-4">
        <CardHeader>Zpráva</CardHeader>
        <CardBody>
            <CardText>Text z databáze.</CardText>
        </CardBody>
        <CardFooter>
                <Button Size="ButtonSize.Large" Color="ButtonColor.Success" To="#" Type="ButtonType.Link">Ano</Button>
                <Button Size="ButtonSize.Large" Color="ButtonColor.Danger" To="#" Type="ButtonType.Link">Ne</Button>
        </CardFooter>
    </Card>
</div>